@charset "ISO-8859-1";

.table {
	height: 50vh;
	width: 50vw;
	padding: 1em;
	margin: auto;
	background: #FFFAF0;
	text-align: center;
	font-family: serif, Georgia;
}

.thead {
	font-size: 16px;
	font-family: serif, Georgia;
	font-weight: 600;
	color: indigo;
	text-align: center;
}

.tbody {
	font-size: 15px;
	font-family: serif, Georgia;
	font-weight: 500;
	color: black;
	text-align: center;
}

.card {
	height: 20vh;
	width: 30%;
	max-width:30vw;
	float: left;
	padding: 1em;
	margin: auto;
	background: #FFFAF0;
}

.image {
	height: 0em;
	width: 0em;
	padding: 1px;
	margin: 1px;
}

.card-details {
	font-size: 15px;
	font-family: serif, Georgia;
	font-weight: 500;
	color: black;
	text-align: right;
}
